.App-header {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    background-color: #222;
    height: 50px;
    padding: 20px;
}

.App-wrapper {
    display: flex;
    flex-direction: row;
    margin-top: 10px;
}

.App-title {
    color: white;
    text-decoration: none;
}

#dialog input {
    display: block;
    margin-bottom: 10px;
}
